:root {
  --color-light-grey: #f6f6f6;
  --color-light-pink: #ffe2e2;
  --color-dark-pink: #ffc7c7;
  --color-dark-grey: #aaaaaa;
}

//STyling
$shadow-light: 0 0.5rem 1rem rgba(black, 0.4);

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
}
