.done {
  &__content {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    background-color: var(--color-dark-pink);
  }
  &__title {
  }
  &__description {
  }
  &__date {
  }
  &__text {
  }
}
