.form__createTask {
  width: 100vw;
}

.createTask {
  &__input {
    margin: 1rem;
    height: 3rem;
    display: flex;
    justify-content: center;

    & > * {
      margin-right: 5rem;
    }
    &-title {
      padding: 1rem 1.6rem;
      border: none;
      border-radius: 2rem;
      border: 1px solid var(--color-dark-grey);
    }
    &-description {
      padding: 1rem 1.6rem;
      border: none;
      border-radius: 2rem;
      border: 1px solid var(--color-dark-grey);
    }
    &-submit {
      border: none;
      padding: 1rem 1.6rem;
      border-radius: 2rem;
      text-align: center;
      background-color: var(--color-light-grey);
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: var(--color-dark-grey);
        box-shadow: $shadow-light;
      }
    }
  }
}
