.header {
  &__container {
  }

  &__ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  &__li {
    height: 3rem;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    flex-grow: 1;
    cursor: pointer;
    margin: 1rem;

    border: 2px solid var(--color-dark-grey);
    border-radius: 0.5rem;
    transition: all 0.3s;

    &:hover {
      box-shadow: $shadow-light;
      background-color: var(--color-light-pink);
    }
  }

  &__li:nth-child(1) {
  }

  &__li:nth-child(2) {
  }

  &__li:nth-child(3) {
  }

  &__li:nth-child(4) {
  }
}
